/* font-family: 'Noto Sans', sans-serif;
font-family: 'Playfair Display', serif; */

*,
*::after,
*::before {
    font-family: 'Noto Sans', sans-serif;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    object-fit: cover;
    object-position: center center;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: #F72464;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
