.button {
    display: inline-block;
    background-color: #F72464;
    border-radius: 4px;
    padding: 0.2308em 1.2692em .3462em;
    color: #fff;

    line-height: 1;    
    font-size: 26px;
    font-family: Playfair Display;
    font-style: normal;
    font-weight: normal;
}

.button-sn {
    font-family: 'Playfair Display', serif;
    padding-bottom: 10px;
}

.button:hover {
    color: #fff;
    background-color: #bb194a;
}

.section-button-wrapper {
    text-align: center;
}

/* button */

.button-outline {
    font-family: Playfair Display;
    display: inline-block;
    padding: 9px 40px 11px;
    background: #fff;
    border: 1px solid #F72464;
    border-radius: 4px;

    font-size: 16px;
    line-height: 1;
    color: #000;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    transition: background-color .2s ease-in, color .2s ease-in;
}

.button-outline:hover {
    background: #F72464;
    color: #fff;
}