.footer {
    padding: 30px 0;
    background: #222;
    color: #fff;
    text-align: center;
    font-family: Noto Sans;
    font-style: normal;
    font-weight: normal;

}

.footer__nav {
    margin: 0 auto 25px;
    text-transform: uppercase;

    font-family: Noto Sans;
    font-size: 14px;
}

.footer__nav-link:not(:last-child){
    margin-right: 30px;
}
.footer__soc {
    margin: 0 auto 25px;
}
.footer__soc-link {
    text-decoration: none;
}

.footer__soc-link:not(:last-child){
    margin-right: 20px;
}

.footer__sco-icon {
    max-height: 20px;
    width: auto;
    fill: #fff;
}

.footer__sco-icon:hover{
    fill: #F72464;
}
.footer__copy {
    margin: 0 auto;
    color: #999;
    font-size: 14px;
    line-height: 19px;
}