.info-section {
    background: url(./../../img/info/info-img.png);
    background-size: cover;
    background-position: center center;
    position: relative;
    margin: 45px 0;
}

.info-section::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,.75);
}
.info-section__row {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    padding: 68px 0;
}

.info-section__title {
    margin: 0;
    font-family: Playfair Display;
    font-style: normal;
    font-weight: normal;
    font-size: 52px;
    line-height: 100%;
    color: #fff;
}